:root {
  /* --primary-bg-color: #efefef; */
  --text-font:nunito;
}

.img-contain{
  background-color: #ffffff82;
  font-family: var(--text-font);
  width: auto;
  min-height: 90vh;  
}
.parent-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}

.img-upload{
  width:80vh;
  min-height:70vh;
  background-color:#fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-box{
  width: 70vh;
  height: 40vh;
  background-color: rgba(245, 245, 245, 0.333);
  border: 2px dashed rgba(0, 0, 0, 0.194);

 position: relative;
 left: 5vh;
}
.img-drag-drop{
  position: absolute;
  left: 18vh;
  top: 20vh
}



.image{
  position: relative;
  bottom: 20vh;
  right: 6vh;
  width: 50vh;
  height: 30vh;
}

.input-content{
  font-size: var(--text-font);
  width: 60vh;
  height: 6vh;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.button-text{
  position: relative;
  left:28rem;
  bottom:3.7rem;
}

.answer{
  font-size:14px;
  font-family:var(--text-font);
  padding:2rem;
  width: auto;
  min-height:30vh;
  background-color: rgba(166, 155, 155, 0.03);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.icons{
  position: relative;
  left: 15vh;
}
@media only screen and (max-width: 700px) {
  .img-upload{
    width:60vh;
    min-height:50vh;
  }
  .img-box{
    width: 50vh;
    height: 40vh;
  
   position: relative;
   left: 4vh;
  }

  .text-position{
    position: relative;
    right:7vh;
    font-size: smaller;
  }
  .icons{
    position: relative;
    left: 7vh;
  }
  .input-content{
    width: 40vh; 
   }
   .button-text{
  
    left:21rem;
   
  }

}

