:root {
  /* --primary-bg-color: #efefef; */
  --text-font:nunito;
}

.img-contain{
  background-color: #ffffff82;
  font-family: var(--text-font);
  width: auto;
  min-height: 90vh;
 
  
}
.parent-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}

.img-upload{
  width:80vh;
  min-height:70vh;
  background-color:#fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-box{
  width: 70vh;
  height: 40vh;
  background-color: rgba(245, 245, 245, 0.333);
  border: 2px dashed rgba(0, 0, 0, 0.194);

 position: relative;
 left: 5vh;
}
.img-drag-drop{
  position: absolute;
  left: 18vh;
  top: 20vh
}



.image{
  position: relative;
  bottom: 20vh;
  right: 6vh;
  width: 50vh;
  height: 30vh;
}

.input-content{
  font-size: var(--text-font);
  width: 60vh;
  height: 6vh;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
